<html lang="pl">
<head>
    <title>Choice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <style>

        .menu1, .menu2{
            padding: 10px;
        }

        .form-group{
            padding: 30px;
        }

        .imageFish{
            padding-top: 10px;
            padding-left: 370px;
        }

        h1{
            margin-left: 120px;
        }

    </style>
</head>

<body>

<div class="container">
    <div class="imageFish">
        <h1>Na Ryby </h1></br>
        <img src="C:\Users\t460si7\IdeaProjects\fish-app\src\main\resources\static\fishImage.JPG">
    </div>
    <div class="form-group">
        <div class="menu1">
            <a href="addadventure.html">
                <button type="button" class="btn btn-success btn-lg btn-block"> Dodaj wyprawe </button></a>
        </div>
        <div class="menu2">
            <a href="showadventure.html">
                <button type="button" class="btn btn-success btn-lg btn-block"> Szukaj wyprawy </button></a>
        </div>
    </div>
</div>

</body>